
.body {
    background: #fff;
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    position: relative;
    background: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5%;
    font-size: 1.2rem;
    max-width: 100%;
    top: 10%;
    left: 90%;
}

.fa-user {
    top: 20%;
    color: #0a3641;
}

.fa-cart-shopping {
    top: 20%;
    color: #0a3641;
}

.fa-heart {
    top: 20%;
    color: #0a3641;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9B070;
    border-top: 1px solid #0a3641;
    border-bottom: 1px solid #0a3641;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #0a3641;
}

.toggle-button {
    display: none;
}

#toggle-menu {
    display: none;
}



@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        top: auto;
        background-color: #fffffff0;
        max-width: 100%;
        z-index: 1;
        line-height: 30px;
        padding: 20px;
        border: 1px solid #0a3641;
        box-shadow: 2px 2px 10px #000;
    }

    .menu.active {
        display: flex;
    }


    .toggle-button {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 0;
    }

    .menu a {
        text-align: left;
    }

    #toggle-menu:checked + .toggle-button + nav .menu {
        display: flex;
    }

    .header-icons {
        font-size: 0.7rem;
    }
}


header .menu a:hover {
    text-decoration: line-through;
}

header .image-header img {
    max-width: 100%;
}

header .responsive-image {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}

header .headerlogo-overlay {
    position: absolute;
    height: auto;
    max-width: 20%;
    top: 20%;
    left: 5%;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cart-counter-wrapper {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0a3641;
    color: #fff;
}

.cart-counter-container {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items,
.payment {
    flex: 1;
    margin: 10px;
    justify-content: center;
}

.items,
.payment {
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a3641;
}

.form_input {
    width: 100%;
    box-sizing: border-box;
    border: 0.5px solid #0a3641;
    margin-bottom: 10px;
    padding: 5px;
}

.personal-container,
.address-container,
.payment-container {
    column-count: 2;
    column-gap: 10px;
}

.details,
.address,
.payment-info {
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px;
}

legend {
    font-weight: bolder;
    font-size: 20px;
}

input[type='text'] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type='tel'] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type='email'] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type='date'] {
    padding: 5px;
    margin-bottom: 10px;
}

.purchase-button {
    display: inline-block;
    background-color: #0a3641;
    color: #fff;
    padding: 10px 20px;
    width: 90%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #000;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.purchase-button:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .items,
    .payment {
        margin: 10px 0;
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .form_input {
        column-count: 1;
    }
}

/* Footer */

.footer {
    display: grid;
    max-width: 100%;
    height: 300px;
    background-color: #D9D9D9;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    padding: 20px;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #0a3641;
}


.footer-center {
    justify-content: center;
    text-align: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: #0a3641;
    white-space: nowrap;
}


h5 {
    text-align: center;
    font-size: 1.3rem;
    color: #0a3641;
}

p {
    font-size: 0.9rem;
    color: #0a3641;
}

.footer-logo img {
    max-height: 150px;
    width: auto;
    justify-content: center;
    padding-top: 20px;
}


@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        justify-content: center;
    }

    .footer-left,
    .footer-right {
        text-align: center;
    }

    .footer-center {
        text-align: center;
    }

    .footer-logo img {
        max-height: 100px;
    }

    h5 {
        font-size: 11px;
    }

    p {
        font-size: 8px;
    }
}