
.body {
    background: #fff;
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    position: relative;
    background: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5%;
    font-size: 1.2rem;
    max-width: 100%;
    top: 10%;
    left: 90%;
}

.fa-user {
    top: 20%;
    color: #0a3641;
}

.fa-cart-shopping {
    top: 20%;
    color: #0a3641;
}

.fa-heart {
    top: 20%;
    color: #0a3641;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9B070;
    border-top: 1px solid #0a3641;
    border-bottom: 1px solid #0a3641;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #0a3641;
}

.toggle-button {
    display: none;
}

#toggle-menu {
    display: none;
}



@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        top: auto;
        background-color: #ffffffcb;
        max-width: 100%;
        z-index: 1;
        line-height: 30px;
        padding: 20px;
        border: 1px solid #0a3641;
        box-shadow: 2px 2px 10px #000;
    }

    .menu.active {
        display: flex;
    }


    .toggle-button {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 0;
    }

    .menu a {
        text-align: left;
    }

    #toggle-menu:checked + .toggle-button + nav .menu {
        display: flex;
    }

    .header-icons {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .menu {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        top: auto;
        background-color: #ffffffcb;
        max-width: 100%;
        z-index: 1;
        line-height: 30px;
        padding: 20px;
        border: 1px solid #0a3641;
        box-shadow: 2px 2px 10px #000;
    }
}

header .menu a:hover {
    text-decoration: line-through;
}

header .image-header img {
    max-width: 100%;
}

header .responsive-image {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}

header .headerlogo-overlay {
    position: absolute;
    height: auto;
    max-width: 20%;
    top: 20%;
    left: 5%;
}

/* Main */

.product {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    column-gap: 10px;
    margin: 30px;
}

.product-image,
.product-content {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 769px) {
    .product-image {
        grid-column: 1;
        grid-row: 1;
        z-index: 0;
    }

    .product-content {
        grid-column: 2;
        grid-row: 1;
    }
}

.product-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #0a3641;
    line-height: 2rem;
}

.product-description {
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1rem;
}

.product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    border-bottom: 0.5px solid #0a3641;
}

.product-image {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    border: 1px solid #0a3641;
    box-shadow: 2px 2px 3px #000;
    z-index: 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-to-cart-button {
    font-weight: bolder;
    color: #fff;
    background-color: #0a3641;
    border: none;
    border-radius: 15px;
    padding: 7px;
    box-shadow: 3px 3px 6px #000;
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        max-width: 70%;
    }

    .product-content {
        grid-column: 1;
        grid-row: 1;
    }

    .product-title {
        font-size: 1rem;
    }


}

@media (max-width: 480px) {
    main {
        z-index: 0;
    }

    .product {
        display: flex;
        flex-direction: column;
    }

    .product-image {
        max-width: 50%;
    }

    .product-content {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Footer */

.footer {
    display: grid;
    max-width: 100%;
    height: 300px;
    background-color: #D9D9D9;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    padding: 20px;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #0a3641;
}


.footer-center {
    justify-content: center;
    text-align: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: #0a3641;
    white-space: nowrap;
}


h5 {
    text-align: center;
    font-size: 1.3rem;
    color: #0a3641;
}

p {
    font-size: 0.9rem;
    color: #0a3641;
}

.footer-logo img {
    max-height: 150px;
    width: auto;
    justify-content: center;
    padding-top: 20px;
}


@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        justify-content: center;
    }

    .footer-left,
    .footer-right {
        text-align: center;
    }

    .footer-center {
        text-align: center;
    }

    .footer-logo img {
        max-height: 100px;
    }

    h5 {
        font-size: 11px;
    }

    p {
        font-size: 8px;
    }
}